.app-header {
  background: $app-color-gradient, $header-image;
  background-size: cover;
  background-position: center center;
  padding: 70px 0 5px;

  h1 {
  	color: white;
  }
}


h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 100;
	font-size: 4em;
	letter-spacing: 5px;
}