<h1>Editing Item</h1>

<div class="editing">
  <%= render 'form', item: @item %>
</div>

<h3>
  <%= link_to '<span class="fas fa-arrow-alt-circle-left"></span>'.html_safe, items_path %>
  <%= link_to '<span class="far fa-sticky-note"></span>'.html_safe, @item %>
</h3>
