<p id="notice"><%= notice %></p>

<p>
  <strong>To do:</strong>
  <%= @item.item %>
</p>

<h3>
	<%= link_to '<span class="fas fa-arrow-alt-circle-left"></span>'.html_safe, items_path %>
	<%= link_to '<span class="far fa-edit"></span>'.html_safe, edit_item_path(@item) %>
</h3>
